body{
    background-color: rgb(41, 40, 38);
    font-family: Verdana;
    color: antiquewhite;
}
header{
    background-color: rgb(32, 89, 97);
    line-height: 80px;  
}
.cabecalho{
    display: flex;
    flex-direction: row;
    padding-left: 30%;
}
img{
    width: 7%;
    height: 5%;
    padding-left: 5%;
    padding-top: 1%;
}
form{
    background-color: antiquewhite;
    color: black;
    width: 40%;
    margin: 5%;
    margin-left: 25%;
    padding: 4%;
    border-radius: 20px;
    border-style:   ;
    border-width: 1px;
    box-shadow: 0px 0px 8px 8px rgb(32, 89, 97);
    display: flex;
    flex-direction: column;
    line-height: 1.5em;
}
input{
    border-radius: 2em;
    border-width: 0.2px;
    width: 90%;
    margin-bottom: 1%;
    height: 1.4em;
    background-color: rgb(218, 210, 200);
    font-family: Verdana;
}
textarea{
    background-color: rgb(218, 210, 200) ;
}
select{
    background-color: rgb(218, 210, 200) ;
    font-family: Verdana;
}
label{
    margin-top: 0.3%;
    margin-bottom: 0.5%;
}
#categoria{
    width: 91%;
}
#estado{
    width: 10%;
    margin-top: 2%;    
}
#btn{
    margin-top: 2%;
    width: 20%;
    height: 2em;
    background-color: rgb(32, 89, 97);
    color: antiquewhite;
    font-family: Verdana;
}
#btn:hover{
    background: rgb(163, 122, 19);
    color: black;
}
.tabela{
    background-color: antiquewhite;
    color: black;
    font-family: Verdana;
    width: 40%;
    margin: 2%;
    margin-left: 25%;
    padding: 4%;
    border-radius: 20px;
    border-style:   ;
    border-width: 1px;
    box-shadow: 0px 0px 8px 8px rgb(32, 89, 97);
    display: flex;
    flex-direction: column;
    text-align: left;
}
/* .tabela:"th"{

} */
h3{
    font-family: Verdana;
    font-weight: 400;
    margin-top: -2em;
    text-align: center;
}
